.card {
  padding: 80px 5px 80px 5px;
  border: 1px solid lightgray;
  width: 10%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  cursor: pointer;
  transition: ease-out 1s;
}

.card:hover {
  background-color: rgb(238, 238, 238);
}

.card > img {
  height: 14rem;

  object-fit: cover;
  margin-top: -70px;
}
