.card {
  padding: 30px 5px 30px 5px;
  border: 1px solid lightgray;
  flex: 1 0 300px;
  max-width: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  transition: ease-out 1s;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.card__image {
  height: 200px;
  object-fit: contain;
}
.card:hover {
  background-color: rgb(238, 238, 238);
}

.card__title > h1 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
}
